ORIGIN=ssh://git.eledia.de/moodlepakete.git

B[b=$b+1]="v_34"
R[r=$r+1]=defaultblocks
U[u=$u+1]=ssh://git.eledia.de/local/local_eledia_defaultblocks.git
S[s=$s+1]=

B[b=$b+1]="v_34"
R[r=$r+1]=eledia_config
U[u=$u+1]=ssh://git.eledia.de/other/eledia_config.git
S[s=$s+1]=

B[b=$b+1]="v_34"
R[r=$r+1]=elediafile
U[u=$u+1]=ssh://git.eledia.de/elediafile.git
S[s=$s+1]=

B[b=$b+1]="v_34"
R[r=$r+1]=system_info
U[u=$u+1]=ssh://git.eledia.de/block/block_eledia_system_info.git
S[s=$s+1]=

B[b=$b+1]="v_35"
R[r=$r+1]=hotpot
U[u=$u+1]=ssh://git.eledia.de/hotpot-im.git
S[s=$s+1]=

B[b=$b+1]="eledia_35_base"
R[r=$r+1]=eledia_base-plugin
U[u=$u+1]=ssh://git.eledia.de/moodlepakete-base.git
S[s=$s+1]=

B[b=$b+1]="v_35"
R[r=$r+1]=auth_eledia_support
U[u=$u+1]=ssh://git.eledia.de/auth/auth_eledia_support.git
S[s=$s+1]=


# vim: filetype=sh
